[Unit]
Description=Trigger personal finance intraday fund refresh

[Timer]
OnCalendar=Mon..Fri *-*-* 09..15:00/5:00
Persistent=false
Unit=finance-market.service

[Install]
WantedBy=timers.target
